* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body { /* adds background color */
    background-color: #d9dcd6;
}

.header { /* adds fonts and color to the header  */
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 { /* adds some formatting to the header */
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {  /* adds color to the header  */
    color: #d9dcd6;
}

.header section { /* formatting and fonts to the header */
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header section ul { /* removes the marker */
    list-style-type: none;
}

.header section ul li { /* formats the list */
    display: inline-block;
    margin-left: 25px;
}

a { /* adds color to the links in header  */
    color: #ffffff;
    text-decoration: none;
}

p { /* formatting for the paragraphs */
    font-size: 16px;
}

.hero { /* adds the big meeting image at the top/middle of page */
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left { /* sets image on left */
    float: left;
    margin-right: 25px;
}

.float-right { /* sets image on right */
    float: right;
    margin-left: 25px;
}

.content { /* adds formatting to the three sections under the meeting image */
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits { /* this is the sidebar that shows the benefits */
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead { /* The following benefit classes just add formatting and color to the sidebar items */
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.search-engine-optimization { /* formatting and color to the first section */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management { /* formatting and color to the second section */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing { /* formatting and color to the third section */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img { /* the following classes just add formatting to the images */
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}

.search-engine-optimization h2 { /* adds margins and formats the font of the headers for the three sections */
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer { /*adds formatting to the footer and also changes the font  */
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 { /* footer formatting */
    font-size: 20px;
}
